In [40]:
import pandas as pd
data = pd.read_csv('seeds_dataset.txt', delim_whitespace=True, header=None, usecols=[*range(0, 8)], names=['area A', 'perimeter P', 'compactness C', 'kernel length', 'kernel width', 'asymmetry coefficient', 'kernel groove length', 'wheat variant'])

Attribute Information:
To construct the data, seven geometric parameters of wheat kernels were measured: 
1. area A, 
2. perimeter P, 
3. compactness C = 4*pi*A/P^2, 
4. length of kernel, 
5. width of kernel, 
6. asymmetry coefficient 
7. length of kernel groove. 
All of these parameters were real-valued continuous.

SyntaxError: invalid syntax (1729020114.py, line 4)

In [38]:
# Look at the data headers to see what we can work with
data.head()

    col1   col2    col3   col4   col5   col6   col7  col8
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220     1
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956     1
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825     1
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805     1
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175     1

In [6]:
# Get a brief summary of the data
data.describe()

        15.26\t14.84\t0.871\t5.763\t3.312\t2.221\t5.22\t1
count                                                 209
unique                                                209
top     14.88\t14.57\t0.8811\t5.554\t3.333\t1.018\t4.9...
freq                                                    1

In [29]:
import pandas as pd
df = pd.read_csv('seeds_dataset.txt', delim_whitespace=True,header=None)
print (df)

         0      1       2      3      4      5      6  7
0    15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1    14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2    14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3    13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4    16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
..     ...    ...     ...    ...    ...    ...    ... ..
205  12.19  13.20  0.8783  5.137  2.981  3.631  4.870  3
206  11.23  12.88  0.8511  5.140  2.795  4.325  5.003  3
207  13.20  13.66  0.8883  5.236  3.232  8.315  5.056  3
208  11.84  13.21  0.8521  5.175  2.836  3.598  5.044  3
209  12.30  13.34  0.8684  5.243  2.974  5.637  5.063  3

[210 rows x 8 columns]